<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title
    >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body class="darkBlue">
<header th:replace="WEB-INF/navbar :: navbar"></header>

<br>
<div class="text-center">
    <h3 class="lightGrey-text">Your orders:</h3>
</div>

<br>
<div class = "darkBlue">

    <div>
        <ul class="list-group list-group-flush lightGrey-text ">
            <li  th:each="order : ${orders}">
                <table>
                    <tr>

                        <td width = "5%"></td>


                        <td width = "25%">
                            Order code: <span th:text="${order.code}"></span>
                            <br>
                            Supplier Code: <span th:text="${order.supplierCode}"></span>
           5                 <br>
                            Total : <span th:text="${order.totalAmount}"></span>
                            <br>
                            Shipping date: <span th:text="${order.shippingDate}"></span>
                            <br>
                            Shipping address: <span th:text="${order.shippingAddress}"></span>
                        </td>
                        <td width="5%">
                        </td>
                        <td>

                            <table class="table table-bordered lightGrey-text" style="width: 100%">
                                <thead class="lightBlue">
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                                </thead>
                                <tbody class="table-light">
                                <tr th:each="prodMap : ${orderProducts.get(order)}">
                                    <td width="65%" class="align-content-center" th:text="${prodMap.getKey().getName()}"></td>
                                    <td class="align-content-center" th:text="${prodMap.getValue()}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <br>
            </li>
        </ul>
    </div>

</div>


</body>
