<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body class="darkBlue">
    <header th:replace="WEB-INF/navbar :: navbar"></header>
    <div class="container shopping-cart">
        <div class="text-center">
            <h3 class="orange-text">Shopping Cart</h3>
        </div>
        <div class="card navbar-blue" th:each="supplier : ${supplierProducts.keySet()}">
            <h3 class="orange-text p-2" th:text="${supplier + ' - ' + supplierQuantities.get(supplier) + ' products'}"></h3>
            <div class="lightGrey p-3">
                <table class="table align-middle text-center">
                    <thead>
                    <tr>
                        <th>Total</th>
                        <th>Shipping</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span th:text="${'&#36;' + supplierTotals.get(supplier)}"></span></td>
                        <td><span th:text="${'&#36;' + supplierShippings.get(supplier)}"></span></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table align-middle text-center">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${supplierProducts.get(supplier).keySet()}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${supplierProducts.get(supplier).get(product)}"></td>
                    </tr>
                    </tbody>
                </table>
                <form action="ProcessOrder" method="post">
                    <input type="hidden" name="supplier" th:value="${supplierCodes.get(supplier)}">
                    <button class="btn btn-primary">Order</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>