<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="ISO-8859-1">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
<div id="logout">
  <a th:href="@{/Logout}">Logout</a>
</div>
<h1>Welcome to Ebazon</h1>
<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p : ${lastViewed}">
    <td th:text="${p.getName()}"></td>
    <td th:text="${p.getCategory()}"></td>
    <td th:text="${p.getDescription()}"></td>
    <td><img th:src="'data:image/png;base64,' + ${p.getImage()}" alt="Unsupported image"/></td>
  </tr>
  </tbody>
</table>

